@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Prompt:wght@400;600&display=swap");
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:root {
	--prompt-font: "Prompt", sans-serif;
	--lato-font: "Lato", sans-serif;
}

.special-font-prompt {
	font-family: var(--prompt-font);
}

.special-font-lato {
	font-family: var(--lato-font);
}
.headline-container {
	border: 1px solid black;
}

.headline-container .title-news {
	font-family: var(--lato-font);
	font-weight: 900;
	font-size: 24px;
	line-height: 34px;
	font-style: normal;
	padding: 15px;
}
